<table>
  <tbody>
    <tr>
      <td>9564554</td>
      <td>Kamal</td>
      <td>Colombo</td>
      <td>25000</td>
      <td><a href="#" class="btn btn-primary">Show Data</a>&nbsp;
        <a href="#" class="btn btn-danger">Delete</a>&nbsp;
        <a href="#" class="btn btn-warning">Update</a>
      </td>
    </tr>
  </tbody>
</table>